
        *{
            margin: 0%;
            padding: 0%;
        }

        .top{
            text-align: center;
            font-size: 50px;
            background-color: bisque;
        }

        .bottom{
            height: 90vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: lightcyan;
        }

        .main{
            margin: auto;
            height:250px;
            width: 750px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        .main_top{
            display: flex;
            height: 85%;
        }

        .main_top_left{
            padding: 10px;
            border-radius: 20px;
            border: 1px solid red;
            width: 350px;
            margin: 15px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            text-align: justify;
            height: fit-content;
        }

        .main_top_right{
            padding: 10px;
            border-radius: 20px;
            border: 1px solid red;
            width: 350px;
            margin: 15px;
            text-align: justify;
            height: fit-content;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        .main_bottom{
            height: 8%;
            text-align: center;
        }

        #btn{
            height: 30px;
            width: 130px;
            border-radius: 10px;
            margin-top: 2px;
        }

        .main img{
            height: 100%;
            width: 100%;
        }